-- MySQL dump 10.13  Distrib 5.7.24, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: tempstaff_db
-- ------------------------------------------------------
-- Server version	5.7.24

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_users`
--

DROP TABLE IF EXISTS `admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_users` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passwordHash` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `lastLoginAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `admin_users_username_key` (`username`),
  UNIQUE KEY `admin_users_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_users`
--

LOCK TABLES `admin_users` WRITE;
/*!40000 ALTER TABLE `admin_users` DISABLE KEYS */;
INSERT INTO `admin_users` VALUES ('f81daa3f-5b14-44be-b122-29b79dce5ace','hr.admin','admin@dvla.gov.gh','Super Administrator','plain:admin123','ACTIVE','2026-09-29 15:32:34.263','2026-09-10 13:29:39.963','2026-09-29 15:32:34.265');
/*!40000 ALTER TABLE `admin_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'HR Admin',
  `user_role` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'HR Officer',
  `action` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `details` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `staff_id` int(11) DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank_masters`
--

DROP TABLE IF EXISTS `bank_masters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_masters` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bankName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `branchName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `bank_masters_code_key` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_masters`
--

LOCK TABLES `bank_masters` WRITE;
/*!40000 ALTER TABLE `bank_masters` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_masters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clearance_items`
--

DROP TABLE IF EXISTS `clearance_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clearance_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `requiredDept` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order` int(11) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clearance_items`
--

LOCK TABLES `clearance_items` WRITE;
/*!40000 ALTER TABLE `clearance_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `clearance_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracts`
--

DROP TABLE IF EXISTS `contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contracts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `staff_id` int(11) NOT NULL,
  `start_date` datetime(3) NOT NULL,
  `end_date` datetime(3) NOT NULL,
  `renewal_number` int(11) NOT NULL DEFAULT '1',
  `is_terminated` tinyint(1) NOT NULL DEFAULT '0',
  `termination_date` datetime(3) DEFAULT NULL,
  `termination_reason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_current` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `contracts_staff_id_fkey` (`staff_id`),
  CONSTRAINT `contracts_staff_id_fkey` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11180 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracts`
--

LOCK TABLES `contracts` WRITE;
/*!40000 ALTER TABLE `contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deduction_settings`
--

DROP TABLE IF EXISTS `deduction_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deduction_settings` (
  `id` int(11) NOT NULL DEFAULT '1',
  `ssnit_employee_rate` double NOT NULL DEFAULT '5.5',
  `ssnit_employer_rate` double NOT NULL DEFAULT '13',
  `petra_employee_rate` double NOT NULL DEFAULT '5',
  `petra_employer_rate` double NOT NULL DEFAULT '5',
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deduction_settings`
--

LOCK TABLES `deduction_settings` WRITE;
/*!40000 ALTER TABLE `deduction_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `deduction_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_approval_workflows`
--

DROP TABLE IF EXISTS `hr_approval_workflows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hr_approval_workflows` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `letterId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stepNumber` int(11) NOT NULL,
  `approverRole` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `approverName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `comments` text COLLATE utf8mb4_unicode_ci,
  `decidedAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `hr_approval_workflows_letterId_fkey` (`letterId`),
  CONSTRAINT `hr_approval_workflows_letterId_fkey` FOREIGN KEY (`letterId`) REFERENCES `hr_letter_documents` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_approval_workflows`
--

LOCK TABLES `hr_approval_workflows` WRITE;
/*!40000 ALTER TABLE `hr_approval_workflows` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_approval_workflows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_letter_audit_logs`
--

DROP TABLE IF EXISTS `hr_letter_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hr_letter_audit_logs` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `actorName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `actorRole` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `targetId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `targetType` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `details` text COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_letter_audit_logs`
--

LOCK TABLES `hr_letter_audit_logs` WRITE;
/*!40000 ALTER TABLE `hr_letter_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_letter_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_letter_documents`
--

DROP TABLE IF EXISTS `hr_letter_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hr_letter_documents` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `staffId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `templateId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `verificationCode` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `letterType` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `salutation` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT 'Dear Sir/Madam,',
  `customRefNumber` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `yourRef` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `effectiveDate` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salaryGrade` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `qrCodeData` text COLLATE utf8mb4_unicode_ci,
  `digitalSignature` longtext COLLATE utf8mb4_unicode_ci,
  `signatoryName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signatoryTitle` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signatoryForTitle` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ccText` text COLLATE utf8mb4_unicode_ci,
  `applicantAddress` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signedAt` datetime(3) DEFAULT NULL,
  `issuedAt` datetime(3) DEFAULT NULL,
  `acknowledgedAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hr_letter_documents_verificationCode_key` (`verificationCode`),
  KEY `hr_letter_documents_staffId_fkey` (`staffId`),
  KEY `hr_letter_documents_templateId_fkey` (`templateId`),
  CONSTRAINT `hr_letter_documents_staffId_fkey` FOREIGN KEY (`staffId`) REFERENCES `hr_letter_staff` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `hr_letter_documents_templateId_fkey` FOREIGN KEY (`templateId`) REFERENCES `hr_letter_templates` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_letter_documents`
--

LOCK TABLES `hr_letter_documents` WRITE;
/*!40000 ALTER TABLE `hr_letter_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_letter_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_letter_staff`
--

DROP TABLE IF EXISTS `hr_letter_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hr_letter_staff` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `staffId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fullName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `department` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jobTitle` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `appointmentDate` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `salaryGrade` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reportingOfficer` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hr_letter_staff_staffId_key` (`staffId`),
  UNIQUE KEY `hr_letter_staff_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_letter_staff`
--

LOCK TABLES `hr_letter_staff` WRITE;
/*!40000 ALTER TABLE `hr_letter_staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_letter_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_letter_templates`
--

DROP TABLE IF EXISTS `hr_letter_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hr_letter_templates` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `version` int(11) NOT NULL DEFAULT '1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_letter_templates`
--

LOCK TABLES `hr_letter_templates` WRITE;
/*!40000 ALTER TABLE `hr_letter_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_letter_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_letter_users`
--

DROP TABLE IF EXISTS `hr_letter_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hr_letter_users` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fullName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passwordHash` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'HR_OFFICER',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `lastLogin` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hr_letter_users_username_key` (`username`),
  UNIQUE KEY `hr_letter_users_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_letter_users`
--

LOCK TABLES `hr_letter_users` WRITE;
/*!40000 ALTER TABLE `hr_letter_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_letter_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insurance_providers`
--

DROP TABLE IF EXISTS `insurance_providers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `insurance_providers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `policyType` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'TIER_3',
  `defaultPremium` double NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `insurance_providers_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insurance_providers`
--

LOCK TABLES `insurance_providers` WRITE;
/*!40000 ALTER TABLE `insurance_providers` DISABLE KEYS */;
/*!40000 ALTER TABLE `insurance_providers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retirement_alerts`
--

DROP TABLE IF EXISTS `retirement_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retirement_alerts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `staffId` int(11) NOT NULL,
  `milestone` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `triggeredAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UNREAD',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `retirement_alerts_staffId_milestone_key` (`staffId`,`milestone`),
  CONSTRAINT `retirement_alerts_staffId_fkey` FOREIGN KEY (`staffId`) REFERENCES `retirement_staff` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retirement_alerts`
--

LOCK TABLES `retirement_alerts` WRITE;
/*!40000 ALTER TABLE `retirement_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `retirement_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retirement_audit_logs`
--

DROP TABLE IF EXISTS `retirement_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retirement_audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `userRole` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `details` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `staffId` int(11) DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retirement_audit_logs`
--

LOCK TABLES `retirement_audit_logs` WRITE;
/*!40000 ALTER TABLE `retirement_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `retirement_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retirement_departments`
--

DROP TABLE IF EXISTS `retirement_departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retirement_departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DEPARTMENT',
  `location` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT 'Head Office, Accra',
  `headOfDept` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `retirement_departments_code_key` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retirement_departments`
--

LOCK TABLES `retirement_departments` WRITE;
/*!40000 ALTER TABLE `retirement_departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `retirement_departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retirement_grades`
--

DROP TABLE IF EXISTS `retirement_grades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retirement_grades` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gradeName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pensionFactor` double NOT NULL DEFAULT '1',
  `description` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `retirement_grades_gradeName_key` (`gradeName`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retirement_grades`
--

LOCK TABLES `retirement_grades` WRITE;
/*!40000 ALTER TABLE `retirement_grades` DISABLE KEYS */;
/*!40000 ALTER TABLE `retirement_grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retirement_settings`
--

DROP TABLE IF EXISTS `retirement_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retirement_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `key` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `retirement_settings_key_key` (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retirement_settings`
--

LOCK TABLES `retirement_settings` WRITE;
/*!40000 ALTER TABLE `retirement_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `retirement_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retirement_staff`
--

DROP TABLE IF EXISTS `retirement_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retirement_staff` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `staffId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fullName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dateOfBirth` datetime(3) NOT NULL,
  `gender` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `departmentId` int(11) DEFAULT NULL,
  `departmentName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stationName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jobTitle` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `grade` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dateOfFirstAppointment` datetime(3) NOT NULL,
  `retirementDate` datetime(3) NOT NULL,
  `actualRetirementDate` datetime(3) DEFAULT NULL,
  `retirementStatus` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `retirement_staff_staffId_key` (`staffId`),
  KEY `retirement_staff_departmentId_fkey` (`departmentId`),
  CONSTRAINT `retirement_staff_departmentId_fkey` FOREIGN KEY (`departmentId`) REFERENCES `retirement_departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retirement_staff`
--

LOCK TABLES `retirement_staff` WRITE;
/*!40000 ALTER TABLE `retirement_staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `retirement_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retirement_users`
--

DROP TABLE IF EXISTS `retirement_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retirement_users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fullName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passwordHash` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'HR_OFFICER',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `lastLogin` datetime(3) DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `retirement_users_email_key` (`email`),
  UNIQUE KEY `retirement_users_username_key` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retirement_users`
--

LOCK TABLES `retirement_users` WRITE;
/*!40000 ALTER TABLE `retirement_users` DISABLE KEYS */;
INSERT INTO `retirement_users` VALUES (1,'admin@dvla.gov.gh','Kofi Owusu (HR Admin)','admin','plain:admin123','HR_ADMINISTRATOR',1,'2026-09-22 08:55:18.931','2026-09-09 09:46:47.215','2026-09-22 08:55:18.932'),(2,'officer@dvla.gov.gh','Akosua Frimpong (HR Officer)','officer','plain:officer123','HR_OFFICER',1,'2026-09-09 10:06:30.115','2026-09-09 09:46:47.272','2026-09-09 10:06:30.119');
/*!40000 ALTER TABLE `retirement_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `staff_code` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `full_name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `department` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bank_name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bank_account` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salary` double DEFAULT NULL,
  `insurance_provider` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT 'Petra',
  `insurance_policy_no` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `insurance_premium` double DEFAULT NULL,
  `payment_status` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT 'paid',
  `unpaid_reason` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ssnit_no` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nia_number` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `date_of_birth` datetime(3) DEFAULT NULL,
  `bank_branch` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gender` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `staff_staff_code_key` (`staff_code`)
) ENGINE=InnoDB AUTO_INCREMENT=11147 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_validations`
--

DROP TABLE IF EXISTS `staff_validations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_validations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `staff_id` int(11) NOT NULL,
  `month` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `validated_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `validated_by` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT 'Admin',
  `notes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `staff_validations_staff_id_month_key` (`staff_id`,`month`),
  CONSTRAINT `staff_validations_staff_id_fkey` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1274 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_validations`
--

LOCK TABLES `staff_validations` WRITE;
/*!40000 ALTER TABLE `staff_validations` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_validations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_announcements`
--

DROP TABLE IF EXISTS `system_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_announcements` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ALL',
  `severity` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'INFO',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `expiresAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `createdBy` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_announcements`
--

LOCK TABLES `system_announcements` WRITE;
/*!40000 ALTER TABLE `system_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tempstaff_users`
--

DROP TABLE IF EXISTS `tempstaff_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tempstaff_users` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'HR Officer',
  `passwordHash` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `lastLoginAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tempstaff_users_username_key` (`username`),
  UNIQUE KEY `tempstaff_users_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tempstaff_users`
--

LOCK TABLES `tempstaff_users` WRITE;
/*!40000 ALTER TABLE `tempstaff_users` DISABLE KEYS */;
INSERT INTO `tempstaff_users` VALUES ('043a8f26-9c86-43eb-94d3-94fc834202a8','joyce','joyce.amable@dvla.gov.gh','Joyce Amable ','HR Manager','plain:Tempstaff@3','ACTIVE','2026-09-29 13:27:27.895','2026-09-10 14:40:58.303','2026-09-29 13:27:27.896'),('5e36802c-11fb-4f60-a3dc-709094f30d7d','mensah','rebecca.mensah@dvla.gov.gh','Rebecca ','HR Officer','plain:Welcome@becks1','ACTIVE','2026-09-28 19:08:06.250','2026-09-25 09:50:31.333','2026-09-28 19:08:06.252');
/*!40000 ALTER TABLE `tempstaff_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-29 16:48:33
